# 과제 
- 8 ~ 14장 심사 문제

## Unit 08 불과 비교, 논리 연산자 알아보기

### 8.5 심사문제: 합격 여부 출력하기

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격). 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [ ]:
kor, eng, mat, sci = map(int, input('').split())
kor>=90 and eng >80 and mat > 85 and sci >=80

90 90 90 90

True

## Unit 9. 문자열 사용하기

### 9.4 심사문제: 여러 줄로 된 문자열 사용하기

다음 소스 코드를 완성하여 실행 결과대로 문자열이 출력되게 만드세요.<br>

In [ ]:
s= ''''Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

## Unit 10 리스트와 튜플 사용하기

### 10.5 심사문제: range로 튜플 만들기
표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [ ]:
a = int(input(''))
t =tuple(range(-10,10,a))
print(t)

3
(-10, -7, -4, -1, 2, 5, 8)

- 해설<br>

range로 튜플을 만드는 문제입니다. 먼저 표준 입력으로 증가폭이 입력되므로 input을 사용하여 변수에 값을 저장합니다(변수는 이하 step). 이때 input으로 입력받은 값은 문자열 상태이므로 int를 사용하여 정수로 변환해줍니다.

문제에서 range의 시작하는 숫자는 -10, 끝나는 숫자는 10이라고 했고, 증가폭도 변수 step에 저장했으므로 튜플은 tuple(range(-10, 10, step))과 같이 만들면 됩니다. 이 튜플을 다른 변수에 저장한 뒤 print로 출력하거나 print 안에 tuple(range(-10, 10, step))을 바로 넣어서 출력해도 됩니다.

특히 range의 시작하는 숫자는 -10, 끝나는 숫자는 10일 때 끝나는 숫자는 생성되는 숫자에 포함되지 않습니다('10.1.3 range를 사용하여 리스트 만들기', '10.4 연습문제: range로 리스트 만들기' 참조). 즉, 테스트 케이스 예제 (-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)은 -10부터 2씩 증가해서 8까지 늘어나고, (-10, -7, -4, -1, 2, 5, 8)은 -10부터 3씩 증가해서 8까지 늘어납니다. 따라서 끝나는 숫자 10은 포함되지 않는 것을 알 수 있습니다.

또한, 이 문제에서 끝나는 숫자는 생성되는 숫자의 마지막을 뜻하는 것이 아니라 range에 지정하는 끝나는 숫자를 의미하므로 이 부분에 주의해야 합니다.

## Unit 11. 시퀀스 자료형 활용하기

### 11.8 심사문제: 리스트의 마지막 부분 삭제하기

표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

해결 방법 :
1. 숫자 및 문자열을 리스트X에 표준 입력( 개수 제한 없음)
2. 리스트 X의마지막 요소 5개를 삭제
3. 리스트 X를 튜플 형태로 출력

In [ ]:
l = list(map(int, input('').split()))
print(l)

del l[-5:] 
print(l)

t = tuple(l)

print(t)

1 2 3 4 5 6 8 7
[1, 2, 3, 4, 5, 6, 8, 7]
[1, 2, 3]
(1, 2, 3)

In [ ]:
x = input().split()
del x[-5:] 
print(tuple(x))

1 2 3 4 5 6 8 7
('1', '2', '3')

- 해설 <br>

리스트 x의 마지막 요소 5개를 삭제하는 문제입니다.

먼저 시퀀스 객체는 인덱스에 음수를 지정하면 뒤에서부터 요소에 접근한다고 했습니다. 따라서 인덱스에 -5를 지정하면 뒤에서 5번째 요소에 접근할 수 있습니다. 그리고 슬라이스를 사용하여 시작 인덱스를 -5으로 지정하고, 끝 인덱스를 생략하면 리스트의 마지막 요소 5개에 접근할 수 있습니다. 이때 요소를 삭제해야 하므로 del x[-5:]과 같이 슬라이스를 삭제해줍니다.

물론 x[len(x) - 5:]처럼 len 함수로 리스트의 길이를 구한 뒤 5를 빼서 시작 인덱스에 지정하는 방법도 가능하지만, 그냥 -5를 지정하는 방법이 더 간단합니다. 마찬가지로 x[-5:len(x)]처럼 끝 인덱스에도 len 함수로 리스트의 길이를 구해서 넣어도 되지만, 마지막 요소들을 출력할 때는 끝 인덱스를 생략하는 방법을 주로 사용합니다.

그리고 삭제한 리스트를 튜플로 출력하라고 했으므로 리스트 x를 tuple에 넣은 뒤 print로 출력해주면 됩니다.

### 11.9 심사문제: 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기

표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.

- 해결방법
1. 각 문자열 2개를 각각 입력
2. 첫번쨰 문자열 중 홀수 문자 추출
3. 두번쨰 문자열 중 짝수 문자 추출
4. 각 추출된 문자열을 연결하여 출력

In [ ]:
#str1, str2 = map(str, input('').split())

str1 = str(input(''))
str2 = str(input(''))

str3 =str1[0::2] + str2[1::2]
print(str3)

ㅁㄴㅇㄻㄴㅇㄹ
ㅓㅏㅏㅗㅓㅣㅏㅣ
ㅁㅇㄴㄹㅏㅗㅣㅣ

- 해설

문자열 두 개가 각 줄에 입력된다고 했으므로 input을 두 번 사용해야 합니다. 먼저 input을 사용하여 첫 번째 문자열을 변수에 저장합니다(이하 변수는 a). 그리고 다시 input을 사용하여 두 번째 문자열을 다른 변수에 저장합니다(이하 변수는 b).

그다음에 a에서 인덱스가 홀수인 요소를 구하고, b에서 인덱스가 짝수인 요소를 구합니다. 먼저 홀수는 1부터 시작하고 2씩 증가하므로 시작 인덱스는 1, 인덱스 증가폭은 2입니다. 그리고 짝수는 0부터 시작하고 2씩 증가하므로 시작 인덱스는 0, 인덱스 증가폭은 2입니다.

여기서 문자열의 길이는 정해져 있지 않다고 했으므로 끝 인덱스를 생략하여 문자열의 마지막까지 가져올 수 있도록 만듭니다. 물론 len을 사용하여 문자열의 길이를 구해서 넣어도 됩니다.

이렇게 a[1::2]와 b[0::2] 문자열 슬라이스를 얻었으면 두 슬라이스를 +로 더한 뒤 print로 출력해주면 됩니다.

## unit 12. 딕셔너리 사용하기

### 12.5 심사문제: 딕셔너리에 게임 캐릭터 능력치 저장하기

표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

judge_dict.py

해결 방법:
1. 키로 사용할 문자열 입력
2. 값으로 사용할 실수 입력
3. 입력받은 키와 값으로 딕셔너리 생성
4. 생성한 딕셔너리 출력

In [ ]:
k = list(map(str,input('').split()))

v = list(map(float,input('').split()))

d = dict(zip(k,v))
d

키1 키2 키3
1 2 3

{'키1': 1.0, '키2': 2.0, '키3': 3.0}

## Unit13 if 조건문

### 13.7 심사문제: 온라인 할인 쿠폰 시스템 만들기

표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [77]:
p = int(input('가격을 입력하세요:'))
c = str(input('쿠폰을 입력하세요'))
if c == 'Cash3000':
    p = p-3000
else:
    p = p-5000

print('가격은 ', p,'원 입니다.')

가격을 입력하세요:50000
쿠폰을 입력하세요Cash5000
가격은  45000 원 입니다.

##Unit 14. else를 사용한 분기

### 14.7 심사문제: 합격 여부 판단하기

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다. 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

In [83]:
kor, eng, math, sci = map(int, input('').split())

if kor > 100 or eng > 100 or math > 100 or sci >100:
    print('잘못된 점수')
else:
    ave = (kor+ eng + math + sci )/4
    print(ave)
    print('합격입니다.')

100 80 90 100
92.5
합격입니다.