# Unit 10. 리스트와 튜플

## 10.1 리스트 만들기

- 리스트는 반복문 및 함수 사용에 용이<br>
  리스트는 [ ] 기호 사용

In [7]:
a = [38, 21, 56, 62, 19]
a
# 파이썬에서는 리스트 엘리멘트가 다른 자료형도 가능하다

[38, 21, 56, 62, 19]

In [9]:
# 리스트는, 순서가 보장
person = ['james', 19, 175.4,True, [120, 80]]
person

['james', 19, 175.4, True, [120, 80]]

In [13]:
# 위의 person은 다음과 같은 딕셔너리로 사용하는 것을 권장
# 딕셔너리는 순서가 보장되지 않음
person_dict = {'name':'james', 'age':19, 'height':175.4,
               'is_male':True, 'bp':[120, 80]}
person

['james', 19, 175.4, True, [120, 80]]

### 빈 리스트 만들기

In [14]:
a = []
b = list()
a, b

([], [])

In [15]:
a,b = [], [] 
#파이썬스로운 코드

### range
- range( [시작 숫자], 끝나는 숫자(원소의 개수) +1, [증가분] 
)<br>
시작숫자 생략시 0부터 시작

In [17]:
a = range(10)
a

range(0, 10)

In [18]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [24]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

## 10.2 튜플 사용하기

튜플은 () 기호 사용<br>
딕셔너리는 {}기호 사용