# Unit13. if 조건문

In [1]:
x =10
if x ==10:
  print('it is 10.')

it is 10.

In [3]:
x =9
if x:  # xrk 0이 아니면 참
  print('it is 10.')

it is 10.

## 13.2 들여쓰기

In [4]:
x =10

if x ==10:
    print('x값은')
    if x>5:
        print('10입니다.')

x값은
10입니다.

In [5]:
# 들여쓰기 주의할것

x =9

if x ==10:
    print('x값은')
    print('10입니다.')
print('언제나 출력')

언제나 출력

## 13.3 중첩 if 조건문

In [7]:
x = 15
if x > 10:
    print('10보다 큰 숫자입니다.')
    if x == 15:
        print('15입니다.')
    if x == 20:
        print('20입니다.')

10보다 큰 숫자입니다.
15입니다.

In [8]:
x = int(input('정수를 입력하세요 >'))
if x > 10:
    print('10보다 큰 숫자입니다.')
    if x == 15:
        print('15입니다.')
    if x == 20:
        print('20입니다.')

정수를 입력하세요 >15
10보다 큰 숫자입니다.
15입니다.