#Unit 14. else

In [4]:
x = 5
if x ==10:
    print('it is 10.')
else:
    print('it is not 10')

it is not 10

### 3항 연산자
- java, js: a = (조건) ? 참일때의 값: 거짓일때의 값<br>
- 파이썬 a = 참일때의 값 if 조건 else 거짓일때의 값

In [7]:
x =1
if x % 2 == 0:
    y ='even'
else:
    y = 'odd'
y

'odd'

In [12]:
y = 'even' if x%2 == 0 else 'odd'
y

'odd'

In [13]:
# 90점 이상이면 'A', 80에서 89  사이면 'B', 70에서 79이면 C
#

In [18]:
score = int(input('점수 입력 >'))

if score>= 90:
    print('A')
else:
        if score>= 80:
            print('B')
        else:
            if score>= 70:
                print('C')
            else:
                if score>= 60:
                    print('D')
                else:
                    print('F')

점수 입력 >1
F

In [26]:
# \는 다음문장을 연결 시켜주는 역할
grade = 'A' if score >= 90 else \
            'B' if score >= 80 else \
                'C' if score >= 70 else \
                    'D' if score >= 60 else 'F'
grade

'F'

In [29]:
# 타 랭귀지 문법 
x = 5
if x > 0 and x<10:
    print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.

In [30]:
# 파이썬에서 가능한 문법
if 0 < x < 10:
    print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.