## 15.4 심사문제
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

- 해결 방법
1. 나이 입력, 7이상
2. 나이에 맞는시내버스 요금을 교통카드에서 차감후 출력
3. 현재 교통카드는 9000원

In [ ]:
age = int(input('나이를 입력 >'))
traffic_card = 9000

if age >= 19 :
    traffic_card -= 1250
elif 13 <= age <= 18:
    traffic_card -= 1050
elif 7 <= age <= 12: #파이썬스러운 코드
    traffic_card -= 650
else:
    traffic_card

    
traffic_card

나이를 입력 >13

7950

## 16.6 심사문제: 구구단 출력하기

In [ ]:
num_gugudan = int(input('숫자 입력<'))
for i in range(2, 10):
    print(num_gugudan,' * ', i, '=', num_gugudan*i, )
    # 포맷 스트링 print(f'{num_gugudan}*{i}=}')

숫자 입력<5
5  *  2 = 10
5  *  3 = 15
5  *  4 = 20
5  *  5 = 25
5  *  6 = 30
5  *  7 = 35
5  *  8 = 40
5  *  9 = 45

## 17.6 심사문제 교통카드 출력 하기

표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

- 해결방법
1. 금액 입력
2. 1회 요금 1350원
3. 사용시 출력
4. 잔액이 부족할때까지 사용 후 잔액 출력

In [ ]:
traffic_card = int(input(''))

charge = 1350

while traffic_card >= charge:
    traffic_card -= charge
    print(traffic_card,)

10000
8650
7300
5950
4600
3250
1900
550

## 18.6 심사문제: 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력하기
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1 \~ 200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [ ]:
start, stop = map(int, input().split())

i = start

while True:

In [ ]:
# 리스트 표현식
a,b = map(int, input().split())
while

In [1]:
[(a,b,c) for a in range(1,333)
            for b in range(a+1, 500)
                for c in range(b+1, 1000)
                    if a + b+ c == 0 and a*a + b*c == c*c
]

[]

### 3. 디지털 시계