## unit 22 심사문제
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1/~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

1. 첫번쨰 정수 입력, 1~20
2. 두번쨰 정수 입력, 10~30
첫번째가 항상 두번쨰보다 작아야 한다.

3. 첫번째부터 두번째 수의 범위로 2의 지수승을 출력
4. 출력 결과는 리스트로 할것

In [25]:
num1, num2 = map(int, input('').split())
# num2 = int(input(''))
# num1, num2
#l = list(range(num1, num2 + 1))
l =[i for i in range(num1, num2+1)]
l
result = [2**i for i in l ]
result

5 8

[32, 64, 128, 256]

In [11]:
num1, num2 = map(int, input('').split())
l =[i for i in range(num1, num2+1)]
result = [2**i for i in l ]
result

[32, 64, 128, 256]

## unit 23 심사문제 _ 지뢰찾기

표준 입력으로 2차원 리스트의 가로(col)와 세로(row)가 입력되고 그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다. 이때 2차원 리스트 안에서 *는 지뢰이고 .은 지뢰가 아닙니다. 지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

여러 줄을 입력 받으려면 다음과 같이 for 반복문에서 input을 호출한 뒤 append로 각 줄을 추가하면 됩니다(list 안에 문자열을 넣으면 문자열이 문자 리스트로 변환됩니다).

In [18]:
a = int(input('')) # 행렬 값 입력
#b = a+2
print(b)


l = [] # 빈 리스트 생성

for i in range(a+2):  #입력값 +2(지뢰찾기 패딩)의 정방 행렬을 리스트 형태로 생성
    line=[] # 행
    for j in range(a+2): #열
        line.append(0)
        pass
    l.append(line)# 열을 행에 삽입
print(l)

5
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

## unit 24 심사문제 (1)
표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

judge_string_count.py

In [8]:
string_the = input('').split()
print(string_the)

count = 0

for i in string_the:
    if i.strip(',.') == 'the':
        count +=1


print(count)

['the', 'they', 'them']
1

## unit 24 심사문제 (2)
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [13]:
list_gakyuk = list(input().split(':'))

sort_list_gakyuk = []

for i in list_gakyuk:
    sort_list_gakyuk.append(int(i))

sort_list_gakyuk.sort(reverse=True)

for i in sort_list_gakyuk:
    print(str("{:,}".format(i)).rjust(9))

5,645,444
    3,455
    1,500

## unit 25 심사문제
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

## unit 26 심사문제
표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요. 단, 최종 결과는 공약수의 합으로 판단합니다.