# Unit 16. for 반복문

## 16.1 for와 range

In [1]:
for i in range(10): #range 대신에 list를 쓸수 있다
    print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [4]:
l = list( i for i in range(1,11))

print(l)

for i in l:
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(10): #range 대신에 list를 쓸수 있다
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4
Hello, world! 5
Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9

In [3]:
for _ in range(5): #변수가 사용되지 않을 때는 _ 를 사용
    print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

## 16.2 for와 range의 응용

In [4]:
for i in range(6, 10): 
    print('Hello, world!', i)

Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9

In [5]:
for i in range(0, 10, 2): 
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 2
Hello, world! 4
Hello, world! 6
Hello, world! 8

In [6]:
for i in range(10, 0, -2):  # 증가 폭을 음수로 주면, 역순으로 진행
    print('Hello, world!', i)

    # 음수 대신에 reversed를 사용 할 수 있다.

Hello, world! 10
Hello, world! 8
Hello, world! 6
Hello, world! 4
Hello, world! 2

In [9]:
for i in range(1, 101):
    print('Fizz' *(i%3==0) + 'Buzz'*(i%5==0)or i, end=' ')
    if (i%10 == 0):
        print()

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz
11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz
Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz
31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz
41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz
Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz
61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz
71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz
Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz
91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

##16.3 시퀀스 객체 반복

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for element in fruits:
    print(element)

In [ ]:
fruit_list = ['apple', 'banana', 'cherry']
for fruit in fruit_list:
    print(fruit)

- 변수명의 중요성
 1. 코딩시 변수명은 의미와 상황에 따라 유의미 하게 사용 할 것
 2. 변수가 가리키는것을 정확하게 지칭 할것
 3. 두 단어 이상의 조합도 사용할것, 조합은 언더바(_)를 활용
 4. (중요)변수는 소문자로 시작할것 
 5. 대문자는 클래스에 사용

- 두단어의 조합법
1. camelNotoation- Java
2. snake_notation - Python (언더바)

In [11]:
for letter in 'Python':
    print(letter, end = ' ')

P y t h o n

In [15]:
for letter in reversed('Python'):
    print(letter, end = ' ')

n o h t y P

In [17]:
for number in (10 , 20 ,30):
    print(number)

    # 시퀀스 객체는 for와 아주 잘 맞는다.

10
20
30

### Perfect Number
- 자기 자신을 제외한 약수
- 6의 약수 (1, 2, 3, 6) 중 6을 제외한 (1,2,3)의 합이 자신과 같으면 퍼펙트 넘버라고 한다
- 6 = 1+2+3
- 10000이하의 자연수 중에서는 총 4개 존재

In [20]:
for i in range(2, 11):
    for k in range(1, i):
        if i % k ==0:
            print(f'{i}의 약수는 {k} ')

2의 약수는 1
3의 약수는 1
4의 약수는 1
4의 약수는 2
5의 약수는 1
6의 약수는 1
6의 약수는 2
6의 약수는 3
7의 약수는 1
8의 약수는 1
8의 약수는 2
8의 약수는 4
9의 약수는 1
9의 약수는 3
10의 약수는 1
10의 약수는 2
10의 약수는 5

- 1부터 10001 사이 퍼펙트 넘버 구하기
1. 각 수의 약수 파악
2. 약수를 리스트에 저장
3. 약수의 합과 수를 비교
4. 동일하면 퍼펙트 넘버

In [26]:
for i in range(2, 10001):
    sum_of_divisor = 0 
    for k in range(1, i):
        if i % k ==0:
            sum_of_divisor += k
    
    if i == sum_of_divisor:    
        print(i)

6
28
496
8128

In [27]:
p_numbers = []
for i in range(2, 10001):
    divisor_list = []
    for k in range(1, i):
        if i % k ==0:
            divisor_list.append(k)
    if i == sum(divisor_list):
        p_numbers.append(i)    

print(p_numbers)

[6, 28, 496, 8128]