# Unit 19. 중첩 반복문

## 19.1 중첩(Nested) for loop

In [2]:
# 앞으로 다루는 데이터는 2차원 이상의 데이터이다.

In [5]:
for i in range(1, 6):
    for k in range(10, 60, 10):
        print(k, end=' ')
    print(i)

10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4
10 20 30 40 50 5

## 19.2  별 사각형

In [6]:
for i in range(5):
    for _ in range(5):
        print('*', end= '' )
    print()

*****
*****
*****
*****
*****

- 평행 사변형

In [9]:
# 평행 사변형
for i in range(4): # 공백을 위한 반복
    for _ in range(0,i):
        print(' ', end = '')
    for _ in range(5):
        print('*', end= '')
    print()

*****
 *****
  *****
   *****

In [11]:
for i in range(4):
    print(' '*i, '*'*5, sep ='')

*****
 *****
  *****
   *****

## 19.3 계단식 별 모양

In [12]:
for i in range(5):
    for _ in range(0, i+1):
        print('*', end = '')
    print()

*
**
***
****
*****

In [18]:
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [15]:
for i in range(5):
    for _ in range(i):
        print(' ', end = '')
    for _ in range(5-i):
        print('*', end ='')
    print()

*****
 ****
  ***
   **
    *

In [19]:
for i in range(5):
    print(' '*i, '*'*(5-i), sep = '')

*****
 ****
  ***
   **
    *

- 다잉아몬드 그리기

In [34]:
for i in range(6):
    for _ in range(5-i):
        print(' ', end='')
    for _ in range(2*i-1):
        print('*', end ='')
    print()

for i in range(4):
    for _ in range(i+1):
        print(' ', end='')
    for _ in range(7-2*i):
        print('*', end ='')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
# 김재용
# i 행 반복
# j 별 반복
# k 공백 반복

for i in range(1,10):
    for k in range ()
    print(' '*abs(5-i)), '*' * i, ' '*abs(5-i))